@import url("https://fonts.googleapis.com/css2?family=Birthstone&family=Manrope:wght@200..800&display=swap");

:root {
  --font-family: "Manrope", sans-serif;
  --font-family-cursive: "Birthstone", cursive;

  --color-bg: #ffffff;
  --color-footer: #000000;
  --color-logo: rgb(0, 81, 255);
  --color-text: #000000;
  --color-subtext: #979797;
}
